In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv("C:\\Users\\Swathi\\Desktop\\Excelr Classes\\Assignments\\13.Random Forests\\iris.csv")
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iX=iris[["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"]]
iy=iris[["Species"]]

In [5]:
from sklearn.ensemble import RandomForestClassifier
rfiris = RandomForestClassifier(n_jobs=4,oob_score=True,n_estimators=100,criterion="entropy")
rfiris.fit(iX,iy)
iris["rf_pred"] = rfiris.predict(iX)
iris["rf_pred"]

C:\Users\Swathi\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: rf_pred, Length: 150, dtype: object

In [6]:
from sklearn.metrics import confusion_matrix
confusion_matrix(iris["Species"],iris["rf_pred"])

array([[50,  0,  0],
       [ 0, 50,  0],
       [ 0,  0, 50]], dtype=int64)

In [7]:
pd.crosstab(iris["Species"],iris["rf_pred"])

rf_pred     setosa  versicolor  virginica
Species
setosa          50           0          0
versicolor       0          50          0
virginica        0           0         50

In [9]:
print("Accuracy",(50+50+50)/(50+50+50+0+0+0+0+0+0)*100)

Accuracy 100.0